{% extends "base.html" %}
{% load static %}

{% block title %}Каталог книг{% endblock %}
{% block content %}
    <div class="container">
        <div class="header">
            <h1><a href="/books">Каталог</a></h1>
        </div>
        <div class="row">
            {% for book in books %}

            <div class="book col-md-4">
                <h2 style="color:blue">{{book.name}}</h2>
                <p>Автор: {{book.author}}</p>
                <p>Дата публикации: {{book.pub_date}}</p>
            </div>
            {% endfor %}
           {% if page.has_previous%}
            <a href="http://127.0.0.1:8000/books/"{{}}>Назад</a>
            {% endif %}
            {% if page.has_next%}
            <a href="http://127.0.0.1:8000/books/"{{}}>Вперёд</a>
            {% endif %}
        </div>
    </div>
{% endblock %}